<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
 http://www.springframework.org/schema/security
 http://www.springframework.org/schema/security/spring-security-3.1.xsd">
 <global-method-security pre-post-annotations="enabled" />
 
<!-- 	<http auto-config="true"> -->
<!-- 		   <intercept-url pattern="jsp/login" access="IS_AUTHENTICATED_ANONYMOUSLY"/> -->
<!-- 		<intercept-url pattern="/**" access="ROLE_EDITOR" /> -->
<!-- 		<form-login login-page='/jsp/login' authentication-failure-url="/jsp/login"/> -->
<!-- 	</http> -->
    

	<authentication-manager>
	  <authentication-provider>
	     <!-- <user-service> -->
		<!-- <user name="bob" password="test" authorities="ROLE_EDITOR" /> -->
	     <!-- </user-service> -->
	    
	     <jdbc-user-service data-source-ref="dataSource" />
	    
	    
	  </authentication-provider>
	</authentication-manager>
	<beans:bean class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler">
		<beans:property name="invalidateHttpSession" value="false" />
	</beans:bean>
	
	<!-- Add heirarchial roles -->
	<!-- http://docs.spring.io/autorepo/docs/spring-security/3.1.4.RELEASE/reference/authz-arch.html -->
	<!-- http://books.google.ca/books?id=VIqInfAXFaoC&pg=PA108&lpg=PA108&dq=getreachablegrantedauthorities&source=bl&ots=4sy_C-TDd7&sig=2MIGAqS2dUZqi-T-lyiegrNwFB8&hl=en&sa=X&ei=Od23UqTWCpDYoATKvICgBw&ved=0CEsQ6AEwBDgK#v=onepage&q=getreachablegrantedauthorities&f=false -->
	<!-- Page 109 of "Pro Spring Security" -->
	<!-- The following levels are allowed: Admin, Registar, Zviaskovy, (Vyhovnyk), Parent -->
	
	<beans:bean id="accessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
		<beans:constructor-arg>
			<beans:list>
				<beans:ref bean="roleVoter" />
			</beans:list>
		</beans:constructor-arg>
	</beans:bean>
	
	<beans:bean id="roleVoter" class="org.springframework.security.access.vote.RoleHierarchyVoter">
   		<beans:constructor-arg ref="roleHierarchy" />
	</beans:bean>
	
	
	<beans:bean id="roleHierarchy" class="org.springframework.security.access.hierarchicalroles.RoleHierarchyImpl">
    	<beans:property name="hierarchy">
        	<beans:value>
        	    ROLE_ADMIN > ROLE_REGISTRAR
       	     	ROLE_REGISTRAR > ROLE_PARENT
        	    ROLE_ZVIASKOVY > ROLE_PARENT
       		</beans:value>
    	</beans:property>
	</beans:bean>
	
	<!-- Initialize Spring Security Filter Chain -->
		<beans:bean id="securityContextPersistenceFilter"
    		class="org.springframework.security.web.context.SecurityContextPersistenceFilter">
  		<beans:property name='securityContextRepository'>
    		<beans:bean class='org.springframework.security.web.context.HttpSessionSecurityContextRepository'>
      		<beans:property name='allowSessionCreation' value='true' />
    		</beans:bean>
  		</beans:property>
		</beans:bean>
	
	<!-- Initialization for data source -->
	<beans:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="driverClassName" value="org.mariadb.jdbc.Driver" />
		<beans:property name="url" value="jdbc:mysql://localhost:3306/plastregsystem" />
		<beans:property name="username" value="vaadin" />
		<beans:property name="password" value="vaadin1" />
	</beans:bean> 
	
</beans:beans>